<!DOCTYPE html>

<html>
<head>
    <title>Sign Up</title>
    <link href="@Url.Content("~/Content/Admin/css/bootstrap.min.css")" rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/Admin/css/style.css")" rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/Admin/css/font-awesome.css")" rel="stylesheet">       
        
</head>
<body>
   @* <div  class="login">
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main">*@
                <p>Job has been saved successfully</p>
                @*</div>
            </div>  
    </div>*@
</body>
</html>