@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
    <link href="@Url.Content("~/Content/Admin/css/bootstrap.min.css")" rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/Admin/css/style.css")" rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/Admin/css/font-awesome.css")" rel="stylesheet"> 
</head>
<body>
	<div class="four">
		<img src="images/404.png" alt="" />
		<p>Sorry!!!!! TRY AGAIN</p>
		<a href="index.html" class="hvr-shutter-in-horizontal">Go To Home</a>
	</div>
</body>
</html>
